<h1 mat-dialog-title>Добавить квартиру</h1>

<form [formGroup]="apartmentForm" (ngSubmit)="onSubmit()">

    <div mat-dialog-content>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Номер квартиры</mat-label>
                <input #number matInput formControlName="number" (keyup)="trimNonDigits($event)">
                <mat-error *ngIf="apartmentForm.controls['number'].invalid">Целое число, начиная с единицы</mat-error>
            </mat-form-field>
        </p>
        
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Этаж</mat-label>
                <input matInput formControlName="floor" (keyup)="trimNonDigits($event)">
                <mat-error *ngIf="apartmentForm.controls['floor'].invalid">Целое отрицательное или положительое число</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Количество комнат</mat-label>
                <input matInput formControlName="numberOfBedrooms" (keyup)="trimNonDigits($event)">
                <mat-error *ngIf="apartmentForm.controls['numberOfBedrooms'].invalid">Целое число, начиная с нуля</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Площадь</mat-label>
                <input matInput formControlName="squareMeters" (keyup)="trimNonDigits($event)">
                <mat-error *ngIf="apartmentForm.controls['squareMeters'].invalid">Целое число, начиная с нуля</mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-checkbox formControlName="hasWashingMachine">
                Стиральная машина
            </mat-checkbox>  
        </p>

        <p>
            <mat-checkbox formControlName="hasDishwasher">
                Посудомойка 
            </mat-checkbox>         
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Цена аренды (₽/месяц)</mat-label>
                <input matInput formControlName="rentPrice" (keyup)="trimNonDigits($event)">
                <mat-error *ngIf="apartmentForm.controls['rentPrice'].invalid">Число от нуля включительно, одна точка для разделения</mat-error>
            </mat-form-field>
        </p> 
        
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true">Закрыть</button>
        <button type="submit" [mat-dialog-close] mat-raised-button color="primary" [disabled]="apartmentForm.invalid">Добавить</button>
    </div>
</form>