<div class="content-table">
  <div *ngIf = "noApartments; else apartmentsTable">
      <h2>У данного жилого комплекса нет квартир для аренды</h2>
  </div>

  <ng-template #apartmentsTable>
    <table #apartmentsTable mat-table [dataSource]="apartments" class="mat-elevation-z8">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Номер квартиры</th>
            <td mat-cell *matCellDef="let apartment"> {{apartment.number}} </td>
          </ng-container>
        
          <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef>Этаж</th>
            <td mat-cell *matCellDef="let apartment">{{apartment.floor}}</td>
          </ng-container>

          <ng-container matColumnDef="squareMeters">
            <th mat-header-cell *matHeaderCellDef>Площадь (м²)</th>
            <td mat-cell *matCellDef="let apartment"> {{apartment.squareMeters}} </td>
          </ng-container>

          <ng-container matColumnDef="numberOfBedrooms">
            <th mat-header-cell *matHeaderCellDef>Количество комнат</th>
            <td mat-cell *matCellDef="let apartment"> {{apartment.numberOfBedrooms}} </td>
          </ng-container>

          <ng-container matColumnDef="hasWashingMachine">
            <th mat-header-cell *matHeaderCellDef>Стиральная машина</th>
            <td mat-cell *matCellDef="let apartment">{{apartment.hasWashingMachine == true ? "Да" : "Нет"}}</td>
          </ng-container>

          <ng-container matColumnDef="hasDishwasher">
            <th mat-header-cell *matHeaderCellDef>Посудомойка</th>
            <td mat-cell *matCellDef="let apartment">{{apartment.hasDishwasher == true ? "Да" : "Нет"}}</td>
          </ng-container>

          <ng-container matColumnDef="rentPrice">
            <th mat-header-cell *matHeaderCellDef>Цена (₽ / месяц)</th>
            <td mat-cell *matCellDef="let apartment"> {{apartment.rentPrice | number}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let apartment">
              <button mat-button color="primary" (click)="editApartment(apartment)">
                  <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let apartment">
              <button mat-button color="primary" (click)="deleteApartment(apartment)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>
</div>
