<div *ngIf="!isLoaded" class="content-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="isLoaded">
    <mat-card>
        <button mat-button color="primary" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-card>

    <div class="content-container">
        <mat-card>    
            <mat-card-header>
                <img mat-card-avatar src="{{apartmentComplex.imageUrl}}"/>
                <mat-card-title>{{apartmentComplex.title}}</mat-card-title>
                <mat-card-subtitle>{{apartmentComplex.address}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="{{apartmentComplex.imageUrl}}"/>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" (click)="addNewApartment(apartmentComplex.id)">Добавить квартиру</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <app-apartment-list [apartments]=apartmentComplex.apartments></app-apartment-list>
</div>

