.container {
    display : flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.header {
    display: flex;
    background-color: darkcyan;
    min-height: 100px;
}

.content {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex: 1;
}